pandas~=2.2
jax==0.4.34
jaxlib==0.4.30
jaxtyping==0.2.34
chex==0.1.87
optax==0.2.3
tqdm~=4.66
matplotlib~=3.9
pdoc~=14.7
ipywidgets~=8.1
black~=24.10
jupyter-black~=0.4
pytest~=8.3
trajax @ git+https://github.com/lenarttreven/trajax
wandb
